.popup-container {
    display: none; 
    position: fixed;
    bottom: 0; 
    right: 0;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 300px;
    transition: top 0.5s ease; 
}

.popup-container.active {
    display: block;
    top: 0; 
}


.popup-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Mood modal */
.mood-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 20px;
    padding: 35px 0px;
    display: none; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media only screen and (max-width: 600px) {
   .mood-modal{
    width: max-content;
   }
  }

.mood-modal.active {
    display: block; 
}
.emojis-container{
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.navsbanner {
  margin-left: 5px;
  width: 100%;
  max-width: 420px; /* Maximum width of 400px */
  height: auto; /* Maintain aspect ratio */
  margin-top: 3px;
}


@media (max-width: 700px) {

  .navsbanner {
    margin-left: 0 !important;
      max-width: 390px; /* Reduce max width for smaller screens */
  }
}

@media (max-width: 480px) {
  .navsbanner main {
      max-width: 370px; /* Further reduce max width for very small screens */
  }
}

#banner{
    margin-bottom: 10px;
    margin-top: 10px;
  
    height: 250px !important;
}
main {
    /* width: 100%; */
    background-color:  #8bc536;
    position: relative;
    padding:20px 0px;
    margin-bottom: 10px;
  }

  main#selftest{
    background-color: #6dd3ce;
  }
  main#coping{
    background-color: #8267c6;
  }
  main#performance{
    background-color: #c2a1f0;
  }

 main h4 {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 300;
      margin-left:20px;
  
  }
  main h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    margin-left:20px;
  
  }

  
  button.start {
    padding: 6px 20px;
    margin-left:20px;
    border-radius: 100px;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  #selftestimg {
    position: absolute;
    bottom: -60px;
    right: 20px;
    height: 200px;
    width: 160px;
    object-fit: fill;
    background-image: url("../images/todo1.png");
    background-repeat: no-repeat;
    background-size: auto 80%;
  }

  #copingimg {
    position: absolute;
    bottom: -70px;
    right: 20px;
    height: 200px;
    object-fit: fill;
    width: 140px;
    background-image: url("../images/3d-rendering-cartoon-like-woman-doing-yoga-PhotoRoom.png-PhotoRoom.png");
    background-repeat: no-repeat;
    background-size: auto 130px;
  }
  #journalimg {
    position: absolute;
    padding-left: 80px;
    bottom: -90px;
    right: 40px;
    height: 200px;
    object-fit: fill;
    width: 30px;
    background-image: url("../images/m028t0142_d_teacher_resources_01sep22-PhotoRoom.png-PhotoRoom.png");
    background-repeat: no-repeat;
    background-size: auto 80px;
  }
  #performancearrow{
    position: absolute;
    bottom: 90px;
    right: 50px;
    height: 0px;
    width: 0px; 
 

  } 
#performance{
  height: 152px;
  padding-top: 20px;
  align-items: center;
  align-content: center;
}

img.performancegraph{
  position: absolute;
  padding-left: 80px;
  bottom: -90px;
  right: 40px;
  object-fit: fill;

  background-image: url("../images/graph.png");

}
  